.venv/
.database/
database/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.logs/
logs/
README.md
.env/
.env 
media/
media/support_ticket_message_images/
.pycache/
.env.production
.env.deployment
.codex
.env
